---
layout: default
---

<script src="/menu.js"></script>

<style>
.cliquable {
  color: #E27D1D;
  cursor: pointer;
  transition: 0.4s;
}

.retractable {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
</style>

<!-- {% assign annees = '' | split: '' %}
{% assign ctfs = '' | split: '' %}
{% assign anneed = '' | split: '' %}
{% assign ctfd = '' | split: '' %}
{% assign delim = ',' | split: '' %}

{% for post in site.posts %}

    {% unless anneed contains post.annee %}
        {% assign annee = post.annee | split: '' %}
        {% assign annees = annees | concat: annee | concat: delim | join: '' %}
    {% endunless %}
        {% assign anneed = annees | split: ',' %}

    {% unless ctfd contains post.ctf %}
        {% assign ctf = post.ctf | split: '' %}
        {% assign ctfs = ctfs | concat: ctf | concat: delim | join: ''%}
    {% endunless %}
        {% assign ctfd = ctfs | split: ',' %}

{% endfor %}

{% assign annees = annees | split: ',' | sort | reverse %}
{% assign ctfs = ctfs | split: ',' %}
{% assign test = false %}

<h1 align="center"><b>Writeups</b></h1>


{% for annee in annees %}
  <h1>{{ annee }}: </h1>
  {% for ctf in ctfs %}
    {% for post in site.posts %}
      {% if post.annee == annee and post.ctf == ctf %}
        {% assign test = true %}
      {% endif %}
    {% endfor %}
    {% if test == true %}
    <h2 class="cliquable">_{{ ctf }}</h2>
      <ul class="retractable">
      {% for post in site.posts %}
        {% if post.annee == annee and post.ctf == ctf %}
      <li>
	  <h3>
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a>
	  </h3>
      </li>

	{% endif %}
      {% endfor %}
      </ul>
    {% endif %}
    {% assign test = false %}
  {% endfor %}
{% endfor %} -->


<!-- ADDDED FOR TYPE -->
{% assign types = '' | split: '\n' %}
{% assign years = '' | split: '' %}
{% for post in site.posts %}
  {% unless types contains post.type %}
    {% assign type = post.type | split: ' ' %}
    {% assign types = types | concat: type %}
  {% endunless %}

  {% assign year = post.date | date: "%Y" | times: 1 %}
  {% unless years contains year %}
    {% assign years = years | push: year %}
  {% endunless %}
{% endfor %}
{% assign years = years | split: '[' | join: '' | split: ']' | join: '' | split: ', ' %}
{% assign current_year = 'now' | date: "%Y" %}

<h1 align="center"><b>Writeups</b></h1>

{% for type in types %}
  <h2 class="cliquable">{{ type | capitalize }}</h2>
  <ul class="retractable">
  {% for year in years %}
    {% assign not_found = true %}
    {% for post in site.posts %}
      {% assign post_year = post.date | date: "%Y" %}
      {% if post_year == year or (post.date == null and year == current_year) %}
        {% if post.type == type or (post.type == null and type == 'autre') %} 
          {% if not_found %}
            <h3>{{ year }} : </h3>
            {% assign not_found = false %}
          {% endif %}
          <li>
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  </ul>
{% endfor %}
